{% extends 'base.html.twig' %}

{% block title %}Formuliare ajouter !{% endblock %}

{% block body %}


<h1>add Produit</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
    <button>{{ 'Créer' }}</button>
{{ form_end(form) }}
    <a href='{{ path('all_produit') }}'><button>back to list </button></a>

{% endblock %}
