{% extends 'base.html.twig' %}

{% block title %}Formuliare modifier !{% endblock %}

{% block body %}


<h1>Edit Produit</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
    <button>{{ 'Update' }}</button>
{{ form_end(form) }}

<a href='{{ path('all_produit') }}'><button>back to list </button></a>

{% endblock %}